
{% extends "Base.html" %}
{% block content %}
    <div class="con">
        <h1><b>Consent</b></h1>
        <p class="consent">
            This research is being conducted at the <a href="https://warwick.ac.uk/fac/soc/wbs/subjects/bsci"> University of Warwick </a>
            and is funded by the <a href="https://www.behavioural-science.ac.uk/index.aspx"> Network for Intgrated Behavioural Science.</a>
            Your participation is completely voluntary and you can withdraw at any time by simply closing your browser.
            However, we are only able to pay you if you complete the survey. <br><br>
            No identifiable data will be collected from you as part of this study.  Any data collected will be stored on highly
            secured computers and will be processed only for the purpose of scientific analysis. <br><br>
            Access to the data will be restricted to the investigators running the study, their collaborators,
            and relevant funding bodies. Summaries may be presented at conferences and included in scientific publications.<br><br>
            In line with the University of Warwick's data retention policy, Data will be reviewed after a period of 10 years.
            For further information please refer to the
            <a href="https://warwick.ac.uk/services/idc/dataprotection/privacynotices/researchprivacynotice">
            University of Warwick Research Privacy Notice </a> or contact the Information and Data Compliance Team at:
            <a href="mailto:GDPR@warwick.ac.uk">GDPR@warwick.ac.uk</a><br><br>
            This study has been approved by the University of Warwick’s Humanities and Social Science Research Ethics Committee.
            For more details contact:
            <a href="mailto:marc.phelan@warwick.ac.uk">marc.phelan@warwick.ac.uk</a></b></p>

        </b>
        <form action="/Submit" method="POST">
            <input type="radio" required name="consent" id="yes" value="yes">
            <label for="consent" style="font-size: 1.25em;"> <b>I have read the above and consent to take part.</b></label><br>
            <input type="radio" name="consent" id="no" value="no">
            <label for="consent" style="font-size: 1.25em;"> <b>I do not wish to take part. </b></label><br><br>
            <input type="submit" value="Submit" style="display: block; margin:0 auto; background-color: rgba(0, 0, 0, 0.1); ">
        </form>
        <br>
    </div>
{% endblock content%}
